<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Place New Order</title>
</head>
<body>
<h2>Place New Order</h2>

<form th:action="@{/order/save}" th:object="${order}" method="post">
    <label>Service Type:</label>
    <input type="text" th:field="*{serviceType}" placeholder="e.g., Washing, Ironing" required />
    <br/><br/>
    <button type="submit">Place Order</button>
</form>

<br/>
<a href="/order/list">Back to My Orders</a>

<br/>
<a href="client-dashboard.html">client Home page </a>


</body>
</html>
